#wrapper .logo img{
    width: 200px;
    height: 75px;
}
#wrapper .navbar-inner.main-menu{
    height: 75px;
}

.navbar-inner.main-menu {
    padding-left: 0;
}

.homepage-slider .slides img {
    height: 330px;
}

.product-box p img {
    width: 270px;
    height: 250px;
}

.product-box.zipperpack p img {
    width: 270px;
    height: 340px;
}

@media (min-width: 1200px) {
    .our_client .span2 {
        font-size: 26px;
        width: 250px;
    }
    .our_management div{
        font-size: 16px;
    }
}

.feature_box .phone_number {
    font-weight: bold;
    font-size: 14px;
}

.feature_box .email_address {
    font-size: 14px;
}

.our_management {
    padding-bottom:30px;
}

.our_management .title {
    padding-top:20px;
}

.our_management .row .span2 b {
    font-size:20px;
}

.our_client {
    padding-bottom:10px;
}

/* section#footer-bar {
    padding-bottom: 5px;
} */

section#footer-bar p {
    font-size: 24px;
    margin-bottom: 0;
}